<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medico</h4>
        <h6 class="card-subtitle">Actualizar informacion</h6>

        <form class="form-horizontal p-t-20" [formGroup]="medicForm" (submit)="saveMedic()">


          <div class="form-group row" *ngIf="medicSelected">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Foto</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <img [src]="medicSelected.img | imagen:'medicos'" alt="" class="w200">
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Nombre</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Nombre del medico"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Hospital</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" name="" id="" formControlName="hospital">
                  <option value="">Seleccione un Hospital</option>
                  <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{hospital.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
                [disabled]="medicForm.invalid"
              >
              <i class="fa fa-save"></i>
                Guardar medico
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSelected">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{hospitalSelected.name}}</h6>

        <img [src]="hospitalSelected.img | imagen:'hospitales'" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>
